<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WolfMud</title>
</head>
<body style="background-color: #201822;margin: 0px;text-align: center;">
<div id="content" style="text-align: left;display: inline-block;min-height:100vh;background-color:#312537;padding:0
10px 0 10px;">
    <div id="message" style="margin-bottom: 150px;"></div>
    <div style="position: fixed; left:0; bottom:0; width: 100%; height: 100px; background-color: #251b27">
        <div style="width: 100%; text-align: center; position: absolute; bottom: 29px">
            <label style="color:white;">Command:
                <input style="width: 50%; height: 30px" id="command" type="text" autocomplete="off"></label>
            <input style="height: 36px;" id="send" type="button" value="Enter">
        </div>
    </div>
</div>
<!-- <input id="otherAccount" type="button" value="Other Account"> -->
<script>
    (function() {
        let messageField = document.getElementById("message");
        (function() {
            fetch('/message?last=true')
                .then(response => {
                    if (response.status >= 500) {
                        messageField.innerHTML += `<span style="color:white;">Server is not available</span><br>`;
                        return
                    }
                  return response.text()
                })
                .then(data => {
                    if (data.toString().includes("EOFDisconnect")) {
                        // drop cookie
                        let cookies = document.cookie.split(";");
                        for (let i = 0; i < cookies.length; i++) {
                            let cookie = cookies[i];
                            let eqPos = cookie.indexOf("=");
                            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                        }
                        window.location.reload(true);
                    }
                    messageField.innerHTML += data.toString();
                });
        }())
        setInterval(function() {
            fetch('/message')
                .then(response => {
                    if (response.status >= 500) {
                        messageField.innerHTML += `<span style="color:white;">Server is not available</span><br>`;
                        return
                    }
                    return response.text()
                })
                .then(data => {
                    if (data.toString() === "" || data == undefined) {
                        return
                    }
                    if (data.toString().includes("EOFDisconnect")) {
                        // drop cookie
                        let cookies = document.cookie.split(";");
                        for (let i = 0; i < cookies.length; i++) {
                            let cookie = cookies[i];
                            let eqPos = cookie.indexOf("=");
                            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                        }
                        window.location.reload(true);
                    }
                    let re = /Enter.{1,15}password/g
                    if (re.test(data.toString())) {
                        let commandField = document.getElementById("command");
                        commandField.type = "password"
                    } else {
                        commandField.type = "text"
                    }
                    messageField.innerHTML += data.toString();
                    window.scrollTo(0,document.body.scrollHeight);
                });
        }, 1000);
        let commandField = document.getElementById("command");
        commandField.onkeydown = function(e) {
            if (e.keyCode === 13) {
                if (commandField.type === "password") {
                    messageField.innerHTML += `<span style="color: magenta">******</span><br>`
                } else {
                    messageField.innerHTML += `<span style="color: magenta">` + commandField.value + "</span><br>"
                }
                fetch('/command?cmd='+commandField.value)
                    .then(response => response.text())
                    .then(data => {
                        if (data.toString() === "" || data == undefined) {
                            return
                        }
                        messageField.innerHTML += data.toString() + "\n";
                    });
                commandField.value = "";
            }
        }
        let sendButton = document.getElementById("send");
        sendButton.onclick = function(e) {
            fetch('/command?cmd='+commandField.value);
            commandField.value = "";
        }

        //var otherAccountButton = document.getElementById("otherAccount");
        //otherAccountButton.onclick = function() {
        //	var cookies = document.cookie.split(";");
        //	for (var i = 0; i < cookies.length; i++) {
        //		var cookie = cookies[i];
        //		var eqPos = cookie.indexOf("=");
        //		var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        //		document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        //	}
        //	window.location.reload(true);
        //}
    }())
</script>
</body>
</html>